html, body {
  background-color: black;
  height: 100vh;
  overflow: hidden;
}


#canvas:hover{
  cursor: none;
}

#infoDiv{
  padding-left: 100px;
}

#modeText, #welcomeText, #scaleText, #octaveText{
  font-family: 'Courier New', monospace;
}


#welcomeText{
  color: white;
  text-align: center;
}

#modeText{
  color: red;
}

#scaleText{
  color: green;
}

#octaveText{
  color: blue;
}
