html, body {
  background-color: black;
  height: 100vh;
  /* overflow: hidden; */
}


#canvas:hover{
  cursor: none;
}

#infoDiv{
  text-align: center;
}

#scaleText, #octaveText{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}

#modeText, #welcomeText, #scaleText, #octaveText, label, h3, #instructionsText{
  font-family: 'Courier New', monospace;
}

.effectsDiv{
  padding-bottom: 25px;
}

label, h3{
  color: white;
}
#instructionsText{
  font-size: 20px;
}

#welcomeText, #instructionsText{
  color: white;
}

#welcomeText{
  font-style: italic;
}


#welcomeText{
  font-size: 15px;
  margin-left: 10px;
}

#instructionsText, #modeText{
  text-align: center;
}

#effectsDiv{
  text-align: center;
}

.effectsHeading{
  color: white;
  text-decoration: underline;
  margin-bottom: 2px;
}

#modeText{
  color: #00b8ff;
  font-size: 40px;
}

#scaleText{
  color: white;
  margin-right: 25px;
}

#octaveText{
  color: white;
  margin-left: 25px;
}

label{
  margin-top: 5px;
}

option{
  text-align: center;
}

.synthParameter{
    display:block;
    margin: auto;
}
